 .passwordContainer{
  margin: 0;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  background: transparent;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Montserrat';
  .leftSide{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top:4em;
    @media only screen and (max-width:976px) {
      width: 100%;
    }

    .leftMenu{
      max-width: 389px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media (max-width:876px) {
        width: 70%;
      }
      @media (max-width:476px) {
        width: 90%;
      }
      .tittle{
        display: flex;
        justify-content: space-between;
        .logo {
          text-align: end;
          align-items: flex-end;
          img{
            margin: 10px 0;
          }
          @media(max-width: 476px){
            img{
              margin:0;
            }
          }
        }
        .backBtn{
          .click_me{
            @media screen and (max-width:360px) {
              padding: 14px;
              font-size: 14px;
            }
            background-color:#e4e9f0;
            border: none;
            padding: 18px;
            border-radius: 8px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            color: #394358;
            cursor: pointer;
            i{
              font-size: 18px;
            }
          }
        }
      }
      .content{
        color: #394358;
        margin-top: 20%;
        h1{
          font-size: 28px;
          font-weight: bold;
          line-height: 1.36;
        }
        p{
          font-size: 20px;
          font-weight: 500;
          line-height: 1.4;
        }
        @media(max-width: 476px){
          h1{
            font-size: 20px;
          }
          p{
            font-size: 16px;
          }
        }
      }
      .sentLinkContainer{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        .sentLinkInput{
          width: 100%;
          border-radius: 8px;
          border: solid 1px #cbcbcb;
          background-color: #edeff2;
          margin-bottom: 20px;
          padding: 20px 18px;
          font-size: 20px;
          font-weight: 500;
          border: 0;
          outline: 0;
          color: #394358;
          @media (max-width:576px) {
            font-size: 16px;
            width:90%;
          }
          &:hover,
          &:focus{
            border:1px solid #394358;
          }
        }
        .errorMessage {
          font-size: 14px;
          color: #aa222a;
          margin-left: 2px;
          @media (max-width:576px) {
            font-size: 13px;
          }
        }

        .sentLinkBtn {
          margin-top: 20px;
          color: #fafafa;
          cursor: pointer;
          background: #aa222a;
          font-size: 16px;
          font-weight: 600;
          border: 0;
          outline:0;
          padding: 14px;
          transition: all 0.5s;
          border-radius: 10px;
          width: auto;
          position: relative;
          width: 100%;
          @media (max-width:876px) {
            font-size: 16px;
          }

          &:hover {
            background: #aa222a;
            transition: all 0.5s;
            border-radius: 10px;
            box-shadow: 0px 6px 15px #0000ff61;
            color: #ffffff;
          }

          &:disabled{
            transition: all 0.5s;
            border-radius: 10px;
            box-shadow: none;
            cursor:progress;
            color: #ffffff;
            background: #aa222a;
          }

        }


        .ellipsis {
          display: inline-block;
          position: relative;
          width: 20%;
          text-align: center;
          height: 10px;
        }
        .ellipsis div {
          position: absolute;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background: #fff;
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }
        .ellipsis div:nth-child(1) {
          left: 8px;
          animation: lds-ellipsis1 0.6s infinite;
        }
        .ellipsis div:nth-child(2) {
          left: 8px;
          animation: lds-ellipsis2 0.6s infinite;
        }
        .ellipsis div:nth-child(3) {
          left: 32px;
          animation: lds-ellipsis2 0.6s infinite;
        }
        .ellipsis div:nth-child(4) {
          left: 56px;
          animation: lds-ellipsis3 0.6s infinite;
        }
        @keyframes lds-ellipsis1 {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1);
          }
        }
        @keyframes lds-ellipsis3 {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(0);
          }
        }
        @keyframes lds-ellipsis2 {
          0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(24px, 0);
          }
        }

      }
    }
  }

  .rightSide{
    @media only screen and (max-width:976px) {
      display: none;
    }
    width: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    height: 100vh;
  }
}