.start_container{
    @media screen and (max-width:476px){
        font-size: 16px;
        margin-top: 10%;
        width: 90%;
    }
    @media only screen and (max-width:678px) and (min-width:476px){
        font-size: 19px;
        margin-top: 8%;
    }
    color: #394358;
    font-size: 20px;
    font-weight: 500;
    max-width: 391px;
    font-family: 'Montserrat';
    margin: 0 auto;
    margin-top: 8%;
    .errormessage{
        text-align: center;
        color:#aa222a ;
        font-size :14px;
        margin-top:5px;
        margin-left:5px;
    }

    .aya_info{
        @media screen and (max-width:476px){
            font-size: 24px;
            margin-bottom: 12px;
        }
        @media screen and (max-width:876px) and (min-width:476px){
            margin-bottom: 15px;
        }
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 20px;
    }
    .info_text{
        @media screen and (max-width:476px){
            width: 100%;
            line-height: 25px;
            font-size: 16px;
            margin-bottom: 24px;
        }
        @media screen and (max-width:876px) and (min-width:876px){
            margin-bottom: 30px;
        }
        margin-bottom: 50px;
    }
    .shop_text{
        margin-bottom: 24px;
        .shop_input{
            @media screen and (max-width:476px){
                width: 100%;
            }
            width: 391px;
            padding: 20px 16px;
            font-size: 16px;
            font-weight: 400;
            border-radius: 8px;
            border: solid 1px #cbcbcb;
            background-color: #f4f5f8;
        }
        .shop_input:focus{
            border: 1px solid darkblue;
        }
        .shop_input_active{
            @media screen and (max-width:476px){
                width: 100%;
            }
            width: 391px;
            padding: 20px 16px;
            font-size: 16px;
            font-weight: 400;
            border-radius: 8px;
            border: solid 1px #aa222a;
            background-color: #f4f5f8;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        input[type=number] {
        -moz-appearance: textfield;
        }
    }
    .business_info{
        @media screen and (max-width:476px){
            margin-top: 32px;
        }
        @media screen and (max-width:876px) and (min-width:476px){
            margin-top: 33px;
        }
        margin-top:36px;
        margin-bottom: 50px;
        .bold {
            font-weight: 800;
            margin: 0 .75rem;
        }
        .checks{
            @media screen and (max-width:476px){
                margin-top: 20px;
            }
            margin-top: 24px;
            .check {
                margin: 10px;
            }
            label{
                padding: 10px;
            }

        }
    }
    .Register_info{
        width: 100%;
        .Register_info_button{
            margin-top: 20px;
            color: #fafafa;
            cursor: pointer;
            background: #aa222a;
            font-size: 16px;
            font-weight:600;
            border: 0;
            padding: 14px;
            transition: all 0.5s;
            border-radius: 10px;
            width: auto;
            position: relative;
            width: 100%;
            @media (max-width:876px) {
                font-size: 16px;
            }

            &:hover {
                background: #aa222a;
                transition: all 0.5s;
                border-radius: 10px;
                box-shadow: 0px 6px 15px #0000ff61;
                color: #ffffff;
            }

            &:disabled{
                transition: all 0.5s;
                border-radius: 10px;
                box-shadow: none;
                cursor:progress;
                color: #ffffff;
                background: #aa222a;
            }

        }


        .ellipsis {
            display: inline-block;
            position: relative;
            width: 20%;
            text-align: center;
            height: 10px;
        }
        .ellipsis div {
            position: absolute;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #fff;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }
        .ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }
        .ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }
        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }
            100% {
                transform: scale(0);
            }
        }
        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }
            100% {
                transform: translate(24px, 0);
            }
        }

    }
}